<html><script src="javascripts/libs/jquery-1.7.2.min.js"></script>
<script src="javascripts/d3.min.js"></script>
<script src="javascripts/buildTree.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/buildTree.css">
<body><div id="container"></div> <script>var treeData = [{"rel":{"start":1,"end":6,"type":"NARRATED_TO","properties":{},"id":36},"name":"أَبِي هُرَيْرَةَ","parent":"رَسُولُ اللَّهِ صلى الله عليه وسلم"},{"rel":{"start":3,"end":2,"type":"NARRATED_TO","properties":{},"id":22},"name":"بِشْرُ بْنُ هِلاَلٍ","parent":"عَبْدُ الْوَارِثِ"},{"rel":{"start":4,"end":3,"type":"NARRATED_TO","properties":{},"id":23},"name":"عَبْدُ الْوَارِثِ","parent":"أَيُّوبَ"},{"rel":{"start":5,"end":4,"type":"NARRATED_TO","properties":{},"id":24},"name":"أَيُّوبَ","parent":"أَبِي قِلاَبَةَ"},{"rel":{"start":6,"end":19,"type":"NARRATED_TO","properties":{},"id":37},"name":"أَبِي سَلَمَةَ","parent":"أَبِي هُرَيْرَةَ"},{"rel":{"start":6,"end":5,"type":"NARRATED_TO","properties":{},"id":27},"name":"أَبِي قِلاَبَةَ","parent":"أَبِي هُرَيْرَةَ"},{"rel":{"start":17,"end":18,"type":"NARRATED_TO","properties":{},"id":38},"name":"هِشَامٌ","parent":"يَحْيَى"},{"rel":{"start":18,"end":20,"type":"NARRATED_TO","properties":{},"id":39},"name":"مُسْلِمُ بْنُ إِبْرَاهِيمَ","parent":"هِشَامٌ"},{"rel":{"start":19,"end":17,"type":"NARRATED_TO","properties":{},"id":40},"name":"يَحْيَى","parent":"أَبِي سَلَمَةَ"}];
drawTree( );
</script></body></html>