<script src="javascripts/libs/jquery-1.7.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
  <body>
<div id="container">

</div>
</body>
 <style>
h4 span {
	font-size:14px;
	font-weight:normal;
	}
body { font: 12px Arial;}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

 
path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
 
</style>
<h4>
	Geographical Location
</h4>
<h4>
	Timeline
</h4>
<script>
 
var treeData = [
	{
		"name": "Rasulullah",
		"parent": "null",
		"children": [
			{
				"name": "Umar ibn Khattab",
				"parent": "Rasulullah",
				"children": [
					{
						"name": "Al Qamah bin Waqas Laythi",
						"parent": "Umar ibn Khattab",
						"children": [
							{
								"name": "Akhbarani Muhammad ibn Ibrahim Ataymi",
								"parent": "Al Qamah bin Waqas Laythi",
								"children": [
									{
										"name": "Yahya bin Saeed Al Ansari",
										"parent": "Akhbarani Muhammad ibn Ibrahim Ataymi",
										"children": [
											{	
												"name": "Sufyan",
												"parent": "Yahya bin Saeed Al Ansari",
												"children":[
													{	
														"name": "Hamaydy Abdullah ibn Zubayr",
														"parent": "Sufyan"
														
													}
												]
											}
										]
									}
									
								]
							}
						]
					},
					{
						"name": "Someone",
						"parent": "Umar ibn Khattab"
					}
				]
			} 
		]
	}
];
// ************** Generate the tree diagram  *****************
var margin = {top: 10, right: 10, bottom: 10, left: 10},
width = window.innerWidth - margin.right - margin.left,
height = window.innerHeight - margin.top - margin.bottom;

var spacing  = 50;
 
var i = 0;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.x, d.y]; });

var svg = d3.select("body").append("svg")
			.attr("width", width + margin.right + margin.left)
			.attr("height", height + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

 

root = treeData[0];
update(root);

function update(source) {

	// Compute the new tree layout.
	var nodes = tree.nodes(root).reverse(),
	links = tree.links(nodes);

	// Normalize for fixed-depth.
	nodes.forEach(function(d) { d.y = d.depth * spacing; });

	// Declare the nodesâ€¦
	var node = svg.selectAll("g.node")
					.data(nodes, function(d) { return d.id || (d.id = ++i); });

	// Enter the nodes.
	var nodeEnter = node.enter().append("g")
								.attr("class", "node")
								.attr("transform", function(d) { 
														return "translate(" + d.x + "," + d.y + ")"; });

	nodeEnter.append("circle")
			.attr("r", 10)
			.style("fill", "#fff");

	nodeEnter.append("text")
			.attr("x", function(d) { 
					return d.children || d._children ? -13 : 13; })
			.attr("dy", ".35em")
			.attr("text-anchor", function(d) { 
					return d.children || d._children ? "end" : "start"; })
			.text(function(d) { return d.name; })
			.style("fill-opacity", 1);

	// Declare the linksâ€¦
	var link = svg.selectAll("path.link")
					.data(links, function(d) { return d.target.id; });

	// Enter the links.
	link.enter().insert("path", "g")
		.attr("class", "link")
		.attr("d", diagonal);

}
	 
	 
	// Parse the date / time
	var	parseDate = d3.time.format("%d-%b-%y").parse;
 	// Set the ranges
	var	x = d3.time.scale().range([0, width]);
	var	y = d3.scale.linear().range([height, 0]);
	 
	// Define the axes
	var	xAxis = d3.svg.axis().scale(x)
		.orient("bottom").ticks(5);
	 
	var	yAxis = d3.svg.axis().scale(y)
		.orient("left").ticks(5);
	 
	// Define the line
	var	valueline = d3.svg.line()
		.x(function(d) { return x(d.date); })
		.y(function(d) { return y(d.close); });
		
	 
	// Add the X Axis
	svg.append("g")		
		.attr("class", "x axis")
		.call(xAxis);
 
	// Add the Y Axis
	svg.append("g")		
		.attr("class", "y axis")
		.call(yAxis);
	 
</script>  