h4 span {
	font-size:14px;
	font-weight:normal;
} 
body { font: 12px Arial;}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

 
path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
 